---
import Layout from '../layouts/Layout.astro'
import ContentSection from '../layouts/ContentSection.astro'

import ToolCard from '../components/ToolCard.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Scrollbar from '../components/Scrollbar.svelte'
---

<Layout title="Personal website">
  <main class="flex flex-col gap-24 p-4 pl-12">
    <Scrollbar client:only />
    <section class="flex flex-row items-center justify-center gap-x-12 py-16">
      <div class="h-64 w-96 border-b-2 border-l-4 border-r-2 border-t-4 border-black p-4">
        <h1 class="pb-4 text-xl font-bold">Hi! I'm Honza!</h1>
        <p class="">Welcome to my little corner of the internet</p>
      </div>
      <img
        class="w-72 border-b-2 border-l-4 border-r-2 border-t-4 border-black"
        src="profile.jpg"
      />
    </section>

    <ContentSection title="Tools and Languages">
      <ul class="flex flex-row flex-wrap justify-center gap-4">
        <ToolCard title="VueJS" />
        <ToolCard title="Tailwind" />
        <ToolCard title="Astro" />
        <ToolCard title="Vite" />
        <ToolCard title="TypeScript" />
        <ToolCard title="Python" />
        <ToolCard title="Java" />
        <ToolCard title="C#" />
        <ToolCard title="Unity" />
      </ul>
    </ContentSection>

    <ContentSection title="My Projects">
      <ul class="flex flex-row flex-wrap justify-center gap-4">
        <ProjectCard title="Impromptu" />
        <ProjectCard title="TypeSPARQ" />
        <ProjectCard title="Tower Tower-Defence Defence" />
        <ProjectCard title="Significant Other(S)" />
        <ProjectCard title="Landmass Generation" />
        <ProjectCard title="TSReporter" />
      </ul>
    </ContentSection>

    <ContentSection title="Coursework">
      <ul class="flex flex-row flex-wrap justify-center gap-4">
        <ProjectCard title="Point of Sale App" />
        <ProjectCard title="GraphQL server" />
      </ul>
    </ContentSection>
  </main>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
</style>
