---
import Layout from '../layouts/Layout.astro'
import ContentSection from '../layouts/ContentSection.astro'
import SocialMedia from '../components/SocialMedia.astro'
import TextCube from '../components/TextCube.svelte'

import PageHeader from '../components/PageHeader.svelte'
import ToolScrollbar from '../components/ToolScrollbar.svelte'
import ProjectsList from '../components/ProjectsList.svelte'
// import Scrollbar from '../components/Scrollbar.svelte'
// import BackgroundTexture from '../components/BackgroundTexture.svelte'
---

<Layout title="Jan Kuželík | Software engineer">
  <PageHeader client:only />
  <!-- <BackgroundTexture client:load /> -->
  <main class="flex flex-col">
    <!-- <Scrollbar client:only /> -->
    <section
      id="section-hello"
      class="relative flex flex-col items-center justify-center bg-violet-600 py-24 md:flex-row"
    >
      <div class="rounded-l-md p-8 text-white md:h-64 md:w-[40vw] md:p-4 xl:w-[30vw]">
        <h1 class="text-4xl font-bold">Hi! I'm Honza!</h1>
        <div class="flex flex-row items-center gap-2 py-4 text-xl">
          <span>I'm a</span>
          <TextCube client:only />
        </div>
        <p class="text-xl">
          I like to build interesting projects using modern technologies. I mainly create web
          frontends, but am no stranger to games or other applications. Check out my projects below!
        </p>
      </div>
      <img
        class="z-20 w-72 rounded-md"
        src="profile.webp"
        alt="Profile picture of me in Regensburg"
      />
      <div class="absolute bottom-0 h-[38vh] w-full bg-amber-300 md:right-0 md:h-full md:w-[38vw]">
      </div>
    </section>

    <ContentSection
      id="section-tools"
      title="The tools I use"
      colour="light"
    >
      <ToolScrollbar client:load />
    </ContentSection>

    <ContentSection
      id="section-projects"
      title="The things I've built"
      colour="dark"
    >
      <ProjectsList client:visible />
    </ContentSection>

    <ContentSection
      id="section-contact"
      title="Connect with me!"
      colour="light"
    >
      <SocialMedia />
    </ContentSection>
  </main>
</Layout>
