---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-xl font-bold">Hi! I'm Honza</h1>
    <p class="">Welcome to my little corner of the internet</p>
  </main>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
</style>
