---
export interface Props {
  title: string
  text: string
  img?: string
  alt?: string
}

const { title } = Astro.props
---

<li class="w-96 bg-indigo-300 rounded-md p-4">
  <h3 class="text-center font-bold">
    {title}
  </h3>
  <slot />
  <p class="text-sm">
    Example text about the project. Here I will say how it was created and what purpose it serves. I
    will also list which technologies were used in making it.
  </p>
</li>
