---
export interface Props {
  index: number
  title: string
  text: string
  img?: string
  alt?: string
}

const { title, index } = Astro.props
let zigZagClass = index % 2 == 0 ? 'self-start' : 'self-end'
---

<li class:list={["w-[90vw] lg:w-[45vw] bg-gray-200 rounded-md p-4 text-black", zigZagClass]}>
  <h3 class="text-center font-bold">
    {title}
  </h3>
  <slot />
  <p class="text-sm">
    Example text about the project. Here I will say how it was created and what purpose it serves. I
    will also list which technologies were used in making it.
  </p>
</li>
