---
import linkedinIcon from '../assets/linkedin.svg'
import githubIcon from '../assets/Github-logo.svg'

import EmailDisplay from './EmailDisplay.svelte'

const socialMediaIcons = [
  { img: githubIcon, alt: 'GitHub', url: 'https://github.com/Jkuzz', label: 'My GitHub account' },
  {
    img: linkedinIcon,
    alt: 'LinkedIn',
    url: 'https://www.linkedin.com/in/jkuzz/',
    label: 'My LinkedIn account',
  },
]
---

<div class="flex flex-row justify-center gap-8 p-4">
  {
    socialMediaIcons.map((icon) => (
      <a
        target="_blank"
        href={icon.url}
        class="origin-bottom-right transition-all hover:-translate-y-2 hover:rotate-6"
      >
        <img
          class="w-16 "
          src={icon.img}
          alt={icon.alt}
        />
      </a>
    ))
  }
  <EmailDisplay client:only />
</div>
