---
import { cva, type VariantProps } from 'class-variance-authority'

export interface Props extends VariantProps<typeof section> {
  title: string
}

const { title, colour = 'light' } = Astro.props

const section = cva(['flex flex-col w-screen'], {
  variants: {
    colour: {
      dark: ['bg-violet-600 text-white'],
      light: ['bg-gray-200 text-violet-600'],
    },
  },
})
---

<section class={section({colour})}>
  <h2 class="p-4 text-center text-2xl font-bold">{title}</h2>
  <slot />
</section>
