---
import { cva, type VariantProps } from 'class-variance-authority'

export interface Props extends VariantProps<typeof section> {
  title: string
  id: string
}

const { title, colour = 'light', id } = Astro.props

const section = cva(['flex flex-col w-screen py-16'], {
  variants: {
    colour: {
      dark: ['bg-violet-600 text-white'],
      light: ['bg-gray-200 text-violet-600'],
    },
  },
})
---

<section
  id={id}
  class={section({ colour })}
>
  <h2 class="p-4 text-center text-2xl font-bold">{title}</h2>
  <slot />
</section>
